.user-card {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: start;
  align-items: center;
   background:linear-gradient(135deg, #242424, #1a1a1a);
   border: none;
  font-weight: 600;
  width: 140px;
  height: 38px !important;
}
.card{
    margin-top: 20px;
    border: none;
    margin-left: 10px;
    height: 38px;
    width: 140px;
    transition: box-shadow 0.3s ease;
}
.card:hover{
  box-shadow: -5px -5px 20px #eb00ff,
  5px 5px 20px #00f0ff;

}

.profile-box {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #120c0c;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 12px;
  width: 180px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.logout {
  background-color: #0d04b9;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.logout:hover {
  background-color: #1000ff;
}
