.category-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  flex-wrap: wrap;
  margin-top: -90px;
  margin-right: 20px;
}

.category-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #e1dcdc;
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background: #1d1d1d;
  box-shadow: -5px -5px 20px #eb00ff,
  5px 5px 20px #00f0ff;
}

.category-btn.active {
  background:#1d1d1d;  
}

.category-btn .icon {
  font-size: 20px;
}

.category-btn .label {
  position: relative;
  top: -2px; 
  letter-spacing: 0.5px;
}
