.myheader {
  text-align: left;
  margin-left: 10%;
  font-weight: 700;
  color: #fbfbfb;
  letter-spacing: 1px;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transition: all 0.3s ease;
}

.feature-item:hover .icon-circle {
  transform: translateY(-5px);  
  box-shadow: -5px -5px 20px #eb00ff,
  5px 5px 20px #00f0ff;
}

.label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #fffcfc;
  text-align: center;
}
.icon-circle:hover{
  animation: bounce 1s infinite;
}
.active .icon-circle {
  border: 3px solid #007bff;
}


@keyframes bounce {
   0% {
    transform: translateY(0px);
    }
    50% {
    transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);    
    }
}
