.popular-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  overflow: hidden;
  cursor: pointer;
}
.mysmallheader{
    color: #4f5353 !important;
}
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease-in-out;
}
.itemcard {
  width: 250px;
  height: 398px;
  background-color: #f0ffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}

.itemcard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 255, 255, 0.6);
  opacity: 1;
}

.itemimage {
  width: 210px;
  height: 220px;
  border-radius: 8px;
  object-fit: contain;
}


.review {
  font-size: 10px;
  color: #555;
}
.itemcard h3 {
  margin: 10px 0 5px;
  font-size: 19px;            
  text-align: center;
  text-overflow: ellipsis;    
  white-space: nowrap;       
  overflow: hidden;         
  width: 100%;
}

.price {
  font-weight: 600;
  font-size: 16px;
  color: #0a7;
  text-align: center;
  margin-top: 18px;
}

.popular-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease;
}

.popular-btn:hover {
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(-50%) scale(1.2);
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

.addtocart{
  position: relative;
  left: 25%;
  border: none;
  background:linear-gradient(135deg,rgba(164, 6, 6, 0.667),rgba(223, 8, 8, 0.755));
}
.addtocart:hover{
    background:linear-gradient(135deg,rgba(72, 6, 164, 0.667),rgba(223, 8, 8, 0.755));
    color:rgb(245, 234, 216)
}