.downnav{
    display: none;
}

.btns.active {
    color: #38BDF8;
}

@media (max-width:768px) {
    .downnav {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--navbar-color);
        height: var(--navbar-height);
    }
}