.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #081423;
    flex-wrap: nowrap;
    height: 10vh;
    width: 100%;
    gap:50%;
    top: 0;
}


/* header button */
.header-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.btns {
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease;
}

.btns:hover {
    cursor: pointer;
    color: aqua;
}

.login-btn {
    color: #0dcaf0;
    background-color: transparent;
    border: 1px solid #0dcaf0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #0dcaf0;
    color: rgb(0, 0, 0);
}




/* drawer button */
.drawer {
    width: 300px;
    height: 100vh;
    background: #081423;
    position: fixed;
    box-shadow: 
        1px 1px 1px white,
        1px 1px 1px rgb(119, 108, 108);
    left: -320px;
    top: 0;
    transition: left 0.3s ease;
}
.drawer.open {
    left: 0;
}

.drawer-btn {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
.drawer-btn:hover{
    color: aqua;
}

.options{
    cursor: pointer;
    color: white;
}