.navbar {
    display: flex;
    align-items: center;
    background-color: var(--navbar-color);
    height: var(--navbar-height);
    justify-content: space-between;
    padding: 0 24px;
}

/* header button */
.header-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.btns {
    border: none;
    background: transparent;
    font-family: 'Press Start 2P', monospace !important;
    color: white;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.btns:hover {
    cursor: pointer;
    color: aqua;
}

.login-btn {
    color: #0dcaf0;
    background-color: transparent;
    font-family: 'Press Start 2P', monospace !important;
    border: 1px solid #0dcaf0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #0dcaf0;
    color: rgb(0, 0, 0);
}


.mobile-nav {
    display: none;
}

.user-info{
    color:#FFD700;
    border:2px solid #FFD700;
    padding:5px;
}
.user-info:hover{
    box-shadow: 1px 1px 9px #FFD700;
    cursor: pointer;
}

@media (max-width:768px) {
    .mobile-nav {
        display: flex;
        gap: 20px;
    }
    .header-btn {
        display: none;
    }

}