.problempage-navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-actions,.navbutton1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}


.navbutton1,
.navbutton2,
.navbutton3{
    color: white;
    background-color: #1d232c;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;   
    cursor: pointer;
}

.navbutton2{
    display: flex;
    align-items: center; 
    gap: 6px;
}

.navbutton2 span{
    color: white;
}

.navbutton2 svg{
    color: #00ff66;
}
