.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 20px;
    color: white;
}

.socials {
    display: flex;
    gap: 15px;
    font-size: 25px;
}

.footer >p {
    text-align: center;
}
