.itempage {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 80px;
    margin-left: 10%;
}

/* Info Section */
.iteminfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #ddd;
}

/* Product Image */
.displayimg {
    height: 380px;
    width: 380px;
    padding: 10px;
    background: #eae5e5;
    border-radius: 10px;
    object-fit: cover;
    cursor: zoom-in;
}




/* Text Styling */
.itemname {
    color: #bbb;
}

.itemprice {
    color: #ff4b4b;
    font-weight: bold;
}

/* Quantity Buttons */
.qtybuttondiv {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.qtybutton {
    height: 26px;
    width: 26px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background: linear-gradient(135deg, #5c5c5c, #141414);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.qtybutton:hover {
    transform: scale(1.15);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

/* Buy Buttons */
.buybuttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buy {
    width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(235, 184, 17), rgba(255, 247, 3, 0.8));
    color: rgb(13, 13, 13);
    transition: 0.3s ease;
}

.buy:hover {
    background: linear-gradient(135deg, yellow, rgb(235, 184, 17));
    color: #000000;
}

/* Add to Cart */
.addtocart2 {
    width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(150, 0, 0, 0.8), rgba(220, 0, 0, 0.8));
    color: white;
    transition: 0.3s ease;
}

.addtocart2:hover {
    background: linear-gradient(135deg, rgba(80, 0, 200, 0.7), rgba(220, 0, 0, 0.9));
    color: #fff4dc;
}