.fullPage{
    margin: 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(#2A00B7,#42006C);
    z-index: 9000;
}
.container{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 60px; 
    width: 450px !important; 
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    height: 500px;
    border-radius: 40px;
    padding-bottom: 30px;  
    z-index: 1;
    pointer-events: none;
    animation: bounce 2s ease; 
}

.container * {
  pointer-events: auto; 
}

@keyframes bounce {
   0% {
    transform: translateY(-100px);
    }
    100% {
    transform: translateY(0px);
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #3c009d;
    font-size: 38px;
    font-weight: 700;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 320px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}


.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:#797979;
    font-size: 19px;
}

.input .icon{
    margin:10px; 
}


.eye{
    margin: 0;
    margin-right: 15px; 
}
.submit{
    display: flex;
    gap:30px;
    margin: 30px auto;
}

.noacc{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-size: 18px;
    color:#797979;   
}
.noacc span{
    color: #4c00b4;
    cursor: pointer;
}

.submit_button{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background: #4c00b4;
    color:#fff;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 50px;
}
.submit_button:hover{
    box-shadow: -5px -5px 10px #7f64a4,
        5px 5px 10px  #afa2c2;
    color: #000000;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}
.gray:hover{
    background:#bdbdbd;
    color: #000000;
}