.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  cursor: pointer;
  height: 250px;
  width: 250px;
  margin: 20px auto;
  display: block;
}

.contents{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}