/* entire login page */
.loginpage{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    width: 100%;
}


/* pre defined background */
.background {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: "hidden";
}

/* login box which contain inputs */
.loginbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 450px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    height: 500px;
    border-radius: 40px;
    padding-bottom: 30px;
    z-index: 10;
    animation: bounce 1s ease;
}

/* when input is written or when a mouse hovers on it the login box glows */
.loginbox:focus-within,.loginbox:hover{
    box-shadow: 0px 0px 25px rgba(227, 228, 237, 0.37);
}

@keyframes bounce {
    0% {
        transform: translateY(-35px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* heading cover signup or login */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

/* heading signup or loign */
.header>p {
    color: #3c009d;
    font-size: 38px;
    font-weight: 700;
}


/* list of input boxes */
.input-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* forgot password */
.forgot_password {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-size: 18px;
    color: #797979;
}

.forgot_password span {
    color: #4c00b4;
    cursor: pointer;
}

/* submit buttons */
.submit {
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit_button {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background: #4c00b4;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 50px;
}

.submit_button:hover {
    box-shadow: -5px -5px 10px #7f64a4,
        5px 5px 10px #afa2c2;
    color: #000000;
}



/* toggle color */
.toggle {
    background: #EAEAEA;
    color: #676767;
}

.toggle:hover {
    background: #bdbdbd;
    color: #000000;
}
